body {
    margin: 0;
}

ul, li, a {
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.li-container {
    display: flex;
}