body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
}

ul, li, a {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: .5rem;
}

button {
    color: white;
    background-color: #3882F6;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid white;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 96px;
}

footer {
    color: white;
    background-color: #1F2937;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #1F2937;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.li-container {
    display: flex;
}

.introduction {
    padding: 96px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.intro-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro-right {
    display: flex;
}

.hero-img {
    height: 75%;
    max-width: 100%;
}

.cards-container {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 25px;
    padding-bottom: 96px;
    display: flex;
    gap: 1rem;
}

.card-palette {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.palette {
    height: 140px;
    width: 140px;
    border-radius: 15px;
}

.one {
    background-color: #d0a3be;
}

.two {
    background-color: #56b0bb;
}

.three {
    background-color: #c95857;
}

.four {
    background-color: #b03a55;
}

.quote {
    background-color: #E5E7EB;
}

.action {
    margin: 96px;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.act-right {
    display: flex;
    align-items: center;
}